<div class="body">
<button class="btn btn-danger" (click)="logout()">Logout</button>
<h1>
    Welcome to My Blog
</h1>

<div>
    <h3>ADVAITHRI Roommates</h3>
    <div style="display: flex;">
    <div class="card m-3 p-1">I wish, I have a Job. -Balu</div>
    <div class="card m-3 p-1">I wish, I go to home. -Sai</div>
    <div class="card m-3 p-1">I wish, I go to home. -Akhil</div>
    <div class="card m-3 p-1">I too don't know what harshith want</div>
    </div>
</div>

<div >
    <h3> Univ Roommates</h3>
    <div style="display: flex;">
    <div class="card m-1 p-1">SRIDATH</div>
    <div class="card m-1 p-1">SAI TEJA</div>
    <div class="card m-1 p-1">RAMESH</div>
    <div class="card m-1 p-1">JANAKI</div>
    <div class="card m-1 p-1">KUSHAL</div>
    <div class="card m-1 p-1">RAVI ANNA</div>
    </div>
</div>

<div>
    <h4>My Stack</h4>
    <span>
        Advithri Technologies Offers 5 weeks User Interface/Front End Development training. All the clients in the world wide now define their products with Rich look and feel to their end users. At Advithri, We train the depth concepts of User Interface Development. We train the techonlogies HTML/HTML5, CSS/CSS3, JavaScript, Object Oriented JavaScript, jQuery, AJAX, JSON, Responsive design and Client side MVC basics.
    </span>
</div>
</div>

