<form class="m-3 p-3 card">
    <div class="mb-2"><h1>Send An Email</h1></div>
    <div>
        <label class="form-label">Email</label>
        <input type="email" (keyup)="handleEvent($event)" class="form-control" name="mail" id="email" />
    </div>
    <div class="mt-3">
        <button class="btn btn-warning" routerLink="" (click)="sendEmail()" >Send Email Verfication</button>
    </div>
    <div><a routerLink="/login" class="text-success">Login</a></div>
    <div><a routerLink="/register" class="text-success">Register</a></div>
</form>
